---
import Button from "@/components/Button.astro";
import Base from "@/layouts/Base.astro";
---

<Base title="Page Not Found" isNotFound>
  <section class="section bg-light text-center">
    <div class="container">
      <div class="mx-auto w-[90%] md:w-[70%] xl:w-[50%]">
        <svg
          role="presentation"
          viewBox="0 0 16 10"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g
            fill="transparent"
            height="7.583033173794702px"
            id="ViCqn475f"
            transform="translate(0 1.21)"
            width="15.995848777951892px"
          >
            <path
              d="M 0 7.583 L 0 0 L 15.996 0 L 15.996 7.583 Z"
              fill="transparent"
              height="7.5829383886255926px"
              id="bCBzkLvLe"
              width="15.995753554502368px"></path><path
              d="M 4.275 1.259 L 2.48 0.115 L 0 3.968 L 0.244 5.656 L 2.042 5.656 L 2.042 7.583 L 4.249 7.583 L 4.249 5.862 L 5.001 5.862 L 5.001 3.711 L 4.325 3.711 C 4.337 3.737 4.346 3.761 4.353 3.781 C 4.4 3.91 4.415 4.027 4.399 4.133 C 4.388 4.207 4.361 4.259 4.321 4.287 C 4.279 4.316 4.23 4.32 4.172 4.3 C 4.119 4.281 4.072 4.249 4.034 4.207 C 3.928 4.098 3.84 3.932 3.769 3.711 L 2.533 3.711 M 6.868 5.536 C 6.789 5.396 6.698 5.263 6.596 5.138 C 6.35 4.84 6.036 4.625 5.653 4.491 C 5.602 4.473 5.552 4.457 5.501 4.443 C 5.467 4.766 5.442 5.09 5.427 5.414 C 5.417 5.634 5.415 5.816 5.422 5.959 C 5.429 6.158 5.452 6.337 5.49 6.498 C 5.546 6.739 5.636 6.924 5.759 7.052 C 5.841 7.137 5.946 7.208 6.074 7.263 C 6.175 7.307 6.298 7.344 6.442 7.375 C 6.993 7.487 7.604 7.466 8.274 7.311 C 8.012 7.188 7.781 7.01 7.595 6.788 C 7.493 6.663 7.402 6.531 7.322 6.391 C 7.268 6.298 7.192 6.155 7.095 5.964 C 6.997 5.77 6.922 5.628 6.868 5.536 Z M 6.821 0.718 C 6.761 0.739 6.703 0.765 6.646 0.795 C 6.508 0.867 6.388 0.97 6.296 1.097 C 6.206 1.224 6.129 1.388 6.067 1.59 C 6.066 1.595 6.064 1.6 6.063 1.605 C 6.227 1.479 6.384 1.353 6.536 1.227 C 6.782 1.023 6.97 0.842 7.101 0.684 C 7.113 0.669 7.124 0.655 7.136 0.641 C 7.116 0.644 7.097 0.647 7.078 0.65 C 6.991 0.665 6.905 0.688 6.821 0.718 Z M 15.706 1.029 L 14.383 0.357 L 13.681 0 L 13.231 0.495 L 12.85 0.914 L 11.617 2.27 L 10.949 3.003 L 10.995 5.105 L 12.945 5.335 L 12.715 7.192 L 14.693 7.399 L 15.038 5.516 L 15.927 5.632 L 15.996 3.596 L 15.486 3.481 Z M 12.647 3.457 L 13.478 2.581 L 13.281 3.538 Z"
              fill="var(--color-dark)"
              height="7.583033173794702px"
              id="IK0XC3WJU"
              width="15.995848777951892px"></path><path
              d="M 2.881 0 L 2.877 0 C 2.817 0.1 2.753 0.197 2.684 0.292 C 2.437 0.633 2.145 0.939 1.815 1.201 C 1.35 1.573 0.845 1.842 0.302 2.007 C 0.288 2.062 0.274 2.118 0.261 2.175 C 0.26 2.179 0.259 2.183 0.258 2.187 C 0.211 2.39 0.167 2.609 0.128 2.844 C 0.076 3.153 0.033 3.463 0 3.774 C 0.051 3.788 0.101 3.804 0.152 3.822 C 0.534 3.955 0.849 4.171 1.095 4.469 C 1.196 4.594 1.288 4.727 1.367 4.867 C 1.42 4.959 1.496 5.101 1.594 5.295 C 1.691 5.486 1.767 5.629 1.821 5.722 C 1.901 5.862 1.992 5.994 2.094 6.118 C 2.279 6.34 2.511 6.519 2.773 6.642 C 2.975 6.595 3.183 6.536 3.396 6.465 C 3.726 6.354 4 6.228 4.216 6.089 C 4.492 5.911 4.693 5.701 4.82 5.459 C 4.907 5.293 4.966 5.097 4.996 4.87 C 5.017 4.709 5.027 4.501 5.024 4.246 C 5.016 3.699 4.98 3.153 4.916 2.61 C 4.876 2.277 4.828 1.993 4.772 1.757 C 4.699 1.453 4.602 1.182 4.483 0.946 C 4.334 0.652 4.156 0.436 3.949 0.298 C 3.848 0.233 3.74 0.18 3.627 0.142 C 3.513 0.104 3.396 0.074 3.277 0.053 C 3.161 0.032 3.029 0.014 2.881 0 Z"
              fill="var(--color-primary)"
              height="6.642077725118483px"
              id="HUHKMCDlo"
              transform="translate(5.501 0.669)"
              width="5.024138696342504px"></path><path
              d="M 1.386 0.343 C 1.387 0.341 1.389 0.339 1.39 0.338 C 1.484 0.233 1.573 0.122 1.657 0.008 C 1.663 -0.001 1.674 -0.002 1.682 0.004 C 1.691 0.01 1.692 0.021 1.686 0.029 C 1.686 0.029 1.686 0.029 1.686 0.03 C 1.602 0.145 1.512 0.256 1.418 0.362 C 1.408 0.373 1.399 0.383 1.39 0.393 C 1.39 0.393 1.39 0.393 1.39 0.393 C 1.004 0.816 0.541 1.162 0.027 1.412 C 0.024 1.413 0.021 1.413 0.019 1.413 C 0.008 1.413 0 1.405 0 1.395 C 0 1.388 0.004 1.381 0.01 1.378 C 0.518 1.132 0.975 0.792 1.356 0.376"
              fill="var(--color-dark)"
              height="1.4133715998868297px"
              id="vPMGq1Sou"
              transform="translate(5.972 0.713)"
              width="1.690022978466743px"></path><path
              d="M 0.765 0.405 C 0.733 0.316 0.698 0.243 0.661 0.187 C 0.612 0.113 0.555 0.061 0.489 0.03 C 0.439 0.004 0.369 -0.005 0.28 0.002 C 0.197 0.01 0.136 0.014 0.098 0.015 L 0.065 0.207 C 0.04 0.428 0.023 0.602 0.016 0.729 C 0.005 0.921 0 1.026 0 1.044 C 0 1.162 0.016 1.267 0.049 1.359 C 0.089 1.468 0.149 1.55 0.229 1.605 C 0.294 1.649 0.375 1.676 0.472 1.688 C 0.536 1.695 0.625 1.695 0.737 1.688 C 0.815 1.684 0.891 1.675 0.967 1.66 C 0.954 1.426 0.939 1.241 0.922 1.105 C 0.889 0.841 0.837 0.608 0.765 0.405 Z"
              fill="var(--color-body)"
              height="1.6929380063314454px"
              id="qDYbMZSHX"
              transform="translate(7.4 3.573)"
              width="1px"></path><path
              d="M 0.435 0.008 C 0.384 0.011 0.333 0.02 0.284 0.032 C 0.23 0.048 0.19 0.074 0.162 0.108 C 0.141 0.135 0.126 0.167 0.118 0.201 C 0.109 0.235 0.103 0.27 0.099 0.305 L 0 0.795 C 0.038 0.793 0.099 0.789 0.182 0.782 C 0.271 0.775 0.341 0.784 0.391 0.809 C 0.457 0.84 0.514 0.893 0.563 0.967 C 0.6 1.022 0.635 1.095 0.667 1.185 C 0.739 1.387 0.791 1.621 0.824 1.885 C 0.841 2.021 0.856 2.206 0.869 2.44 C 0.91 2.433 0.949 2.422 0.988 2.409 C 1.112 2.367 1.198 2.3 1.248 2.209 C 1.274 2.16 1.29 2.1 1.296 2.03 C 1.3 1.966 1.3 1.903 1.296 1.839 C 1.281 1.525 1.263 1.285 1.242 1.119 C 1.209 0.855 1.157 0.621 1.085 0.419 C 1.052 0.329 1.018 0.257 0.981 0.201 C 0.932 0.127 0.875 0.075 0.809 0.043 C 0.758 0.018 0.697 0.004 0.626 0 C 0.563 -0.001 0.499 0.001 0.435 0.008 Z"
              fill="var(--color-light)"
              height="2.4401373938339077px"
              id="K8MHQQKyH"
              transform="translate(7.498 2.794)"
              width="1.2988660527668685px"></path><path
              d="M 1.011 0.271 L 1.01 0.271 L 0.018 0.261 C 0.008 0.261 0 0.253 0 0.243 C 0 0.232 0.008 0.224 0.019 0.224 L 0.019 0.224 L 1.011 0.234 C 1.021 0.234 1.029 0.242 1.029 0.252 C 1.029 0.263 1.021 0.271 1.011 0.271 Z M 13.15 0.136 C 13.149 0.136 13.148 0.135 13.147 0.135 L 12.435 0.037 C 12.425 0.035 12.418 0.026 12.42 0.016 C 12.421 0.006 12.43 -0.001 12.441 0 L 13.152 0.099 C 13.162 0.1 13.169 0.11 13.168 0.12 C 13.167 0.129 13.159 0.136 13.15 0.136 Z"
              fill="var(--color-body)"
              height="1px"
              id="KweuqLwnA"
              transform="translate(1.994 5.438)"
              width="13.168076581329487px"></path>
          </g>
        </svg>
        <h1 data-aos="fade-up-sm" data-aos-delay="200" class="h3 mb-4">
          Uh-oh! Something went wrong
        </h1>
        <div data-aos="fade-up-sm" data-aos-delay="200" class="content">
          <p class="uppercase">We can’t find the page you’re looking for</p>
        </div>
        <Button
          class="mt-4"
          data={{ enable: true, label: "back to home", link: "/" }}
        />
      </div>
    </div>
  </section>
</Base>
