---
import RoomCard from "@/components/RoomCard.astro";
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";

const pageIndex = await getListPage("roomListPage", "-index");
if (pageIndex.data.draft) return Astro.redirect("/404");
const rooms = await getSinglePage("roomSinglePage");
---

<Base {...pageIndex.data}>
  <PageHeader
    title={pageIndex?.data.title}
    subtitle={pageIndex?.data.subtitle}
    backgroundImage={pageIndex?.data.image}
  />
  <section class="section bg-light">
    <div class="container grid gap-10">
      {rooms?.map((room) => <RoomCard room={room} />)}
    </div>
  </section>
</Base>
